<h1>Editing Note</h1>

<%= render 'form' %>

<br>
<%= link_to fa_icon('eye', text: 'Show'), @note, class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('chevron-left', text: 'Back'), notes_path, class: 'btn btn-sm btn-default' %>
