<h1>Editing Person</h1>

<%= render 'form' %>

<br>
<%= link_to fa_icon('eye', text: 'Show'), @person, class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('chevron-left', text: 'Back'), person_path, class: 'btn btn-sm btn-default' %>
