<h1>Editing Interaction</h1>

<%= render 'form' %>

<br>
<%= link_to fa_icon('eye', text: 'Show'), @interaction, class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('chevron-left', text: 'Back'), interactions_path, class: 'btn btn-sm btn-default' %>
