<% content_for(:sidebar) do %>
  <%= link_to 'New Interaction', new_interaction_path, class: "btn btn-success btn-block"%>
<% end %>

<h1>
  <%= fa_icon(:wpforms) %>
  Interactions
</h1>

  <%= render @interactions %>

<footer>
  <%= paginate @interactions %>
</footer>
