<h1>Editing User</h1>

<%= render 'form' %>

<div id='bottom-nav'>
  <div class="col-sm-3">
    <%= link_to fa_icon('eye', text: 'Show'), @user, class: 'btn btn-sm btn-default' %>
    <%= link_to fa_icon('chevron-left', text: 'Back'), users_path, class: 'btn btn-sm btn-default' %>
  </div>
</div>
