<p id="notice"><%= notice %></p>

<br>
<%= link_to fa_icon('pencil', text: 'Edit'), edit_user_path(@user), class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('chevron-left', text: 'Back'), users_path, class: 'btn btn-sm btn-default' %>
