<tr>
  <td><%= company.name %></td>
  <td><% company %></td>
  <td>
    <%= link_to fa_icon('eye', text: 'Show'), company, class: 'btn btn-sm btn-default' %>
    <%= link_to fa_icon('pencil', text: 'Edit'), edit_company_path(company), class: 'btn btn-sm btn-default' %>
    <%= link_to fa_icon('trash-o', text: 'Destroy'), company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </td>
</tr>
