<tr>
  <td><%= company.name %></td>
  <td><% company %></td>
  <td><%= link_to 'Show', company %></td>
  <td><%= link_to 'Edit', edit_company_path(company) %></td>
  <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
