<h1>Editing Company</h1>

<%= render 'form' %>

<br>
<%= link_to fa_icon('eye', text: 'Show'), @company, class: 'btn btn-sm btn-default' %>
<%= link_to fa_icon('chevron-left', text: 'Back'), companies_path, class: 'btn btn-sm btn-default' %>
