<% content_for(:sidebar) do %>
  <%= link_to 'New Company', new_company_path, class: "btn btn-success btn-block"%>
<% end %>

<h1>
  <%= fa_icon(:suitcase) %>
  Companies
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Company Name</th>    
    </tr>
  </thead>

  <tbody>
    <%= render @companies %>
  </tbody>
</table>

<footer>
    <%= paginate @companies %>
</footer>
