// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 300px;;
}
