// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard-llama {
  height: 100px;
  margin-left:44%;
}

#dashboard-button-group {
  margin-top: 30px;
  margin-bottom: 30px;
}

#followups-needed-panel {
  display: none;
}

#recent-interactions-panel {
  display: none;
}

#button-text {
  display: inline-block;
}

h3#llama-fact {
  text-align: center;
}

.medium-icon {
  margin-left: 20px;
}
