#bottom-nav:before {
    content: ' ';
    clear: left;
    display: block;
    white-space:pre;
}

#report .container {
    height: 30px;
    margin-left: -320px;
    margin-top: 280px;
    margin-bottom: -310px;
}
